header {
  & .nav-primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1.6rem;

    & > div {
      display: flex;
      align-items: center;
      gap: .8rem;
    }

    & > div label {
      font-weight: 700;
    }
  }

  & .nav-secondary {
    overflow-x: auto;
    padding-block: 1.4rem;
    border-top: 1px solid var(--stroke-color);
    border-bottom: 1px solid var(--stroke-color);

    & ul {
      display: flex;
      justify-content: space-between;
      gap: 3.2rem;
    }

    & a {
      text-wrap: nowrap;
      font-size: 1.4rem;
      font-weight: 600;
      color: var(--text-color-secondary);
    }
  }
}

#btn-menu,
#search {
  display: flex;
  width: 2rem;
  height: 2rem;

  & img {
    width: 100%;
  }
}

.pr-16 {
  padding-right: 1.6rem;
}

@media (width >= 1280px) {
  header {
    & .nav-primary {
      padding-block: 2rem;
    }
  }

  .pr-16 {
    padding-right: 0;
  }
}